/* layer: properties */
@supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))){*, ::before, ::after, ::backdrop{--un-border-opacity:100%;--un-divide-opacity:100%;--un-text-opacity:100%;--un-space-y-reverse:initial;}}
@property --un-text-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-outline-style{syntax:"*";inherits:false;initial-value:solid;}
@property --un-border-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-inset-ring-color{syntax:"*";inherits:false;}
@property --un-inset-ring-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-inset-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-inset-shadow-color{syntax:"*";inherits:false;}
@property --un-ring-color{syntax:"*";inherits:false;}
@property --un-ring-inset{syntax:"*";inherits:false;}
@property --un-ring-offset-color{syntax:"*";inherits:false;}
@property --un-ring-offset-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-ring-offset-width{syntax:"<length>";inherits:false;initial-value:0px;}
@property --un-ring-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-shadow-color{syntax:"*";inherits:false;}
@property --un-space-y-reverse{syntax:"*";inherits:false;initial-value:0;}
@property --un-divide-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
/* layer: theme */
:root, :host { --spacing: 0.25rem; --fontWeight-bold: 700; --default-transition-timingFunction: cubic-bezier(0.4, 0, 0.2, 1); --default-transition-duration: 150ms; --fontWeight-semibold: 600; --fontWeight-medium: 500; --colors-gray-900: oklch(21% 0.034 264.665); --colors-gray-600: oklch(44.6% 0.03 256.802); --colors-gray-700: oklch(37.3% 0.034 259.733); --colors-gray-500: oklch(55.1% 0.027 264.364); --colors-gray-400: oklch(70.7% 0.022 261.325); --text-3xl-fontSize: 1.875rem; --text-3xl-lineHeight: 2.25rem; --text-sm-fontSize: 0.875rem; --text-sm-lineHeight: 1.25rem; --text-lg-fontSize: 1.125rem; --text-lg-lineHeight: 1.75rem; --text-xs-fontSize: 0.75rem; --text-xs-lineHeight: 1rem; --text-2xl-fontSize: 1.5rem; --text-2xl-lineHeight: 2rem; --colors-white: #fff; --colors-gray-200: oklch(92.8% 0.006 264.531); --colors-gray-300: oklch(87.2% 0.01 258.338); }
/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 40rem){
.container{max-width:40rem;}
}
@media (min-width: 48rem){
.container{max-width:48rem;}
}
@media (min-width: 64rem){
.container{max-width:64rem;}
}
@media (min-width: 80rem){
.container{max-width:80rem;}
}
@media (min-width: 96rem){
.container{max-width:96rem;}
}
/* layer: default */
.text-3xl{font-size:var(--text-3xl-fontSize);line-height:var(--un-leading, var(--text-3xl-lineHeight));}
.text-lg{font-size:var(--text-lg-fontSize);line-height:var(--un-leading, var(--text-lg-lineHeight));}
.text-sm{font-size:var(--text-sm-fontSize);line-height:var(--un-leading, var(--text-sm-lineHeight));}
.text-xs{font-size:var(--text-xs-fontSize);line-height:var(--un-leading, var(--text-xs-lineHeight));}
.dark .dark\:text-gray-200{color:color-mix(in srgb, var(--colors-gray-200) var(--un-text-opacity), transparent);}
.dark .dark\:text-gray-300{color:color-mix(in srgb, var(--colors-gray-300) var(--un-text-opacity), transparent);}
.dark .dark\:text-gray-400,
.text-gray-400{color:color-mix(in srgb, var(--colors-gray-400) var(--un-text-opacity), transparent);}
.dark .dark\:text-white{color:color-mix(in srgb, var(--colors-white) var(--un-text-opacity), transparent);}
.text-\[var\(--ui-error\)\]\!{color:color-mix(in oklab, var(--ui-error) var(--un-text-opacity), transparent) !important;}
.text-gray-500{color:color-mix(in srgb, var(--colors-gray-500) var(--un-text-opacity), transparent);}
.text-gray-600{color:color-mix(in srgb, var(--colors-gray-600) var(--un-text-opacity), transparent);}
.text-gray-700{color:color-mix(in srgb, var(--colors-gray-700) var(--un-text-opacity), transparent);}
.text-gray-900{color:color-mix(in srgb, var(--colors-gray-900) var(--un-text-opacity), transparent);}
.font-bold{--un-font-weight:var(--fontWeight-bold);font-weight:var(--fontWeight-bold);}
.font-medium{--un-font-weight:var(--fontWeight-medium);font-weight:var(--fontWeight-medium);}
.font-semibold{--un-font-weight:var(--fontWeight-semibold);font-weight:var(--fontWeight-semibold);}
.mx-auto{margin-inline:auto;}
.my-0\.75{margin-block:calc(var(--spacing) * 0.75);}
.my-6{margin-block:calc(var(--spacing) * 6);}
.mb-1{margin-bottom:calc(var(--spacing) * 1);}
.mb-16{margin-bottom:calc(var(--spacing) * 16);}
.mb-2{margin-bottom:calc(var(--spacing) * 2);}
.mb-3{margin-bottom:calc(var(--spacing) * 3);}
.mb-6{margin-bottom:calc(var(--spacing) * 6);}
.mt-4{margin-top:calc(var(--spacing) * 4);}
.px-6{padding-inline:calc(var(--spacing) * 6);}
.py-12{padding-block:calc(var(--spacing) * 12);}
.pt-2{padding-top:calc(var(--spacing) * 2);}
.text-center{text-align:center;}
.outline{outline-style:var(--un-outline-style);outline-width:1px;}
.border{border-width:1px;}
.border-\[var\(--ui-error\)\]\/50,
.divide-\[var\(--ui-error\)\]\/50>:not(:last-child){border-color:color-mix(in oklab, var(--ui-error) 50%, transparent);}
.border-\[var\(--ui-neutral\)\]\/50,
.divide-\[var\(--ui-neutral\)\]\/50>:not(:last-child){border-color:color-mix(in oklab, var(--ui-neutral) 50%, transparent);}
.border-\[var\(--ui-secondary\)\]\/50,
.divide-\[var\(--ui-secondary\)\]\/50>:not(:last-child){border-color:color-mix(in oklab, var(--ui-secondary) 50%, transparent);}
.border-\[var\(--ui-warning\)\]\/50,
.divide-\[var\(--ui-warning\)\]\/50>:not(:last-child){border-color:color-mix(in oklab, var(--ui-warning) 50%, transparent);}
.border-dashed{--un-border-style:dashed;border-style:dashed;}
.flex{display:flex;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.gap-1{gap:calc(var(--spacing) * 1);}
.gap-2{gap:calc(var(--spacing) * 2);}
.gap-3{gap:calc(var(--spacing) * 3);}
.gap-4{gap:calc(var(--spacing) * 4);}
.grid{display:grid;}
.size-6{width:calc(var(--spacing) * 6);height:calc(var(--spacing) * 6);}
.h-12{height:calc(var(--spacing) * 12);}
.h-4{height:calc(var(--spacing) * 4);}
.w-12{width:calc(var(--spacing) * 12);}
.w-4{width:calc(var(--spacing) * 4);}
.w-full{width:100%;}
.hover\:cursor-pointer:hover{cursor:pointer;}
.disabled\:hover\:cursor-not-allowed:hover:disabled{cursor:not-allowed;}
.ring-0{--un-ring-shadow:var(--un-ring-inset,) 0 0 0 calc(0px + var(--un-ring-offset-width)) var(--un-ring-color, currentColor);box-shadow:var(--un-inset-shadow), var(--un-inset-ring-shadow), var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.transition-shadow{transition-property:box-shadow;transition-timing-function:var(--un-ease, var(--default-transition-timingFunction));transition-duration:var(--un-duration, var(--default-transition-duration));}
.duration-200{--un-duration:200ms;transition-duration:200ms;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-between{justify-content:space-between;}
.overflow-hidden{overflow:hidden;}
@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
.animate-spin{animation:spin 1s linear infinite;}
.space-y-1>:not(:last-child){--un-space-y-reverse:0;margin-block-start: calc(calc(var(--spacing) * 1) * var(--un-space-y-reverse));margin-block-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--un-space-y-reverse)));}
.divide-dashed>:not(:last-child){border-style:dashed;}
@supports (color: color-mix(in lab, red, red)){
.dark .dark\:text-gray-200{color:color-mix(in oklab, var(--colors-gray-200) var(--un-text-opacity), transparent);}
.dark .dark\:text-gray-300{color:color-mix(in oklab, var(--colors-gray-300) var(--un-text-opacity), transparent);}
.dark .dark\:text-gray-400{color:color-mix(in oklab, var(--colors-gray-400) var(--un-text-opacity), transparent);}
.dark .dark\:text-white{color:color-mix(in oklab, var(--colors-white) var(--un-text-opacity), transparent);}
.text-gray-400{color:color-mix(in oklab, var(--colors-gray-400) var(--un-text-opacity), transparent);}
.text-gray-500{color:color-mix(in oklab, var(--colors-gray-500) var(--un-text-opacity), transparent);}
.text-gray-600{color:color-mix(in oklab, var(--colors-gray-600) var(--un-text-opacity), transparent);}
.text-gray-700{color:color-mix(in oklab, var(--colors-gray-700) var(--un-text-opacity), transparent);}
.text-gray-900{color:color-mix(in oklab, var(--colors-gray-900) var(--un-text-opacity), transparent);}
}
@media (min-width: 40rem){
.sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
}
@media (min-width: 64rem){
.lg\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
}